body{
    background:#1b1b1b;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}

canvas{    
    display: block;
    background:white;
    border:2px solid black;
    margin:20px auto;

}

.controls {
    margin-top: 20px;
}